html, body {
  width: 100%;
  /* height: 2700px; */
  background: #273340;
  /* background: linear-gradient(#AD8F74, #BFADA3); */
  font-family: 'New Tegomin', serif;
  color: #e6e2d8;
  font-size: 21px;
}

#title {
  font-size: 130px;
  color: #e6e2d8;
  letter-spacing: 12px;
  line-height: 110px;
  text-align: right;
  margin-right: 20px;
  font-family: 'New Tegomin', serif;
}

.subtitle {
  font-size: 22px;
  letter-spacing: 2px;
}

.linktowork {
  color:inherit;
  font-size: 26px;
  letter-spacing: 2px;
}

.block1 {
  width: 450px;
  height: auto;
  margin-left: -220px;
  margin-top: -320px;
  text-align: right;
  line-height: 35px;
}

.block2 {
  width: 400px;
  height: auto;
  margin-left: 180px;
  margin-top: 150px;
  text-align: right;
  /* color: white; */
  font-size: 18px;
  line-height: 25px;
}

.content {
  font-size: 28px;
  font-weight: bold;
}

.minor {
  font-size: 18px;
  font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr 1fr;
  grid-template-rows: 0.2fr 0.8fr;
  gap: 15px 15px;
}

.top_left {
  grid-area: 1 / 1 / 3 / 3;
}

.top_middle {
  grid-area: 1 / 2 / 2 / 3;
}

.bottom {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: 80px;
  margin-right: 50px;
}
.aboutMain {
  grid-area: 1 / 1 / 3 / 3;
  margin-left: 80px;
  margin-right: 50px;
}

.right {
  grid-area: 1 / 3 / 3 / 4;
}


.fixColumn {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
}

.links {
  font-style: italic;
  color: inherit;
}
